/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.col{
    float: left;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

.list li,.menu-right div{
    display: inline-block;
    padding: 0 1%;
}

.list li a,.menu-right div a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

/* HEADER */

header{
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 130% 115%;
    background-color: #0c325a;
    height: 500px;
    position: relative;
}

/* Header Container */
.navigation-container{
    width: 80%;
    margin: auto;
    padding-top: 1%;
}

/* Logo */

.logo{
    width: 10%;
    height: 55px;
}
.logo img{
    width: 100%;
    margin: 0 1%;
}

/* Central list */
.menu-center{
    width: 40%;
    height: 55px;
    margin-left: 30px;
}

.list a:hover{
    color: coral;
}

.list{
    list-style-type: none;
    width: 100%;
    margin: 0 2%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

/* Right List */
.menu-right{
    width: 40%;
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

.login{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 25px;
}

.buy{
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #7cbb02;
}

.link-tutor a:hover{
    color: coral;
}

/* Title Container */
.title{
    position: absolute;
    bottom: 180px;
    left: 10%;
    width: 550px;
    font-size: 45px;
    color: white;
}

.buy-plan{
    position: absolute;
    bottom: 100px;
    left: 10%;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: #7cbb02;
    color: white;
}

.buy-plan a{
    color: white;
    text-decoration: none;
}